#home-section{
    background: url(/images/);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}



#home-section .home-inner{
    padding-top: 150px;
}